<div class="row">
    
                    <div class="col-xl-12">
                        <div class="card">                                
                            <div class="card-body">
                                <h5 class="header-title pb-3 mt-0">Restaurants</h5>
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0" id="datatable">
                                          <thead style="background-color:#ff6c00 !important ;" class="text-white">
                                            
                                            <tr class="align-self-center">
                                                <th>Index</th>
                                                <th>Owner name</th>
                                                <th>Restaurant name</th>
                                                <th>Email</th>
                                                <th>Phone number</th>
                                                <th>Block/Unblock</th>
                                                <th>Delete</th>
                                                                                                                                  
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {{#each response}}  
                                            <tr>
                                                <td>{{@index}}</td>
                                                <td>
                                                    <img src="/images/users/avatar-1.jpg" alt="" class="thumb-sm rounded-circle mr-2">
                                                    {{this.OwnerName}}
                                                </td>
                                                <td>{{this.RestaurantName}}</td>
                                                <td>{{this.Email}}</td>
                                                <td>{{this.Phone}}</td> 
                                                 {{#if this.blockStatus}}
                                            
                                                <td><a href="/admin/resBlockStatus/{{this._id}}" class="btn rounded btn-success" style=" background-color: #37ff00; border:0">Active</a></td>  

                                                {{else}}
                                                   <td><a href="/admin/resBlockStatus/{{this._id}}" class="btn rounded btn-success" style="background-color:#FF6C00 ; border:0">Blocked</a></td>                                                                 
                                            {{/if}} 
                                             <td><a href="/admin/adminDelete/{{this._id}}" class="btn rounded-circle btn-success" style="width:2rem !important; height: 2rem !important; background-color: #ff0000; border:0" onclick="return confirm('Do you want to delete  {{this.RestaurantName}} profile')"> </a></td>                                                               
                                            </tr>
                                                {{/each}}                                                                   
                                        </tbody>
                                    </table>
                                </div><!--end table-responsive-->
                                <div class="pt-3 border-top text-right">
                                    <a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a>
                                </div> 
                            </div>
                        </div>                                                                   
                    </div> 
                </div>